<h1>LOGIN</h1>
<div class="my-3">
  <label>User: </label>
  <input type="text" placeholder="name" class="form-control mx-2 w-75" #name>
</div>
<div class="mb-3">
  <label>Passsword: </label>
  <input type="text" placeholder="password" class="form-control mx-2 w-75" #pass>
</div>
<div class="mb-3">
  <button class="btn btn-outline-primary mx-3" (click)="validar()">LOGIN</button>
</div>

<div *ngIf="name.value=='angular' && pass.value=='123456'; else error">
  <p>Bienvenidos a angular</p>
  <ul *ngFor="let x of nav">
    <li><a href="#">{{x}}</a></li>
  </ul>
</div>
  <ng-template #error>
    <p id="fail">
      Credenciales incorrectas intentelo de nuevo
    </p>
  </ng-template>